{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

# Homebrew
if [ ! command -v brew &> /dev/null ]; then
	/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
	echo 'eval "$(/opt/homebrew/bin/brew shellenv)"' >> /Users/jp/.zprofile
	eval "$(/opt/homebrew/bin/brew shellenv)"
fi

brew bundle --no-upgrade --no-lock --file=/dev/stdin <<EOF
# Basics
brew "mackup"
cask "raycast"
cask "google-chrome"
cask "1password"
cask "1password-cli"
cask "sublime-text"
cask "iterm2"
brew "zsh"

# Apps
cask "imageoptim"
cask "insomnia"
cask "plexamp"
cask "spotify"
cask "the-unarchiver"
cask "docker"
cask "appcleaner"
cask "visual-studio-code"
cask "obsidian"
cask "cron"
{{- if .is_deliveroo }}
cask "charles"
cask "force-paste"
cask "goland"
cask "postico"
cask "rubymine"
{{- end }}
{{- if .is_personal }}
cask "nordvpn"
cask "plex-media-player"
cask "openscad"
cask "prusaslicer"
{{- end }}

# Terminal
brew "go"
brew "gpg"
brew "jq"
brew "gh"
brew "netcat"
brew "node"
brew "pinentry-mac"
brew "rbenv"
brew "ruby"
brew "yarn"
{{- if .is_deliveroo }}
brew "aws/tap/aws-sam-cli"
brew "redis"
brew "s3cmd"
brew "libpq"
brew "jenv"
{{- end }}

# Taps
tap "puma/puma"
brew "puma/puma/puma-dev"

{{- if .is_personal }}
cask "drivers/sonos"
{{- end }}

{{- if .is_deliveroo }}
tap "deliveroo/tools"
brew "deliveroo/tools/roo"
brew "deliveroo/tools/roo-clone"
brew "deliveroo/tools/roo-florence"
brew "deliveroo/tools/roo-go"
brew "deliveroo/tools/roo-project"
brew "deliveroo/tools/roo-tool"
tap "phrase/brewed"
brew "phrase/brewed/phraseapp"
{{- end }}

# Mac App Store
brew "mas"
mas "AntiRSI", id: 442007571
mas "Discovery", id: 1381004916
mas "The Archive Browser", id: 510232205
mas "Gapplin", id: 768053424
mas "Netmo", id: 1192219511
{{- if .is_personal }}
mas "Day One", id: 1055511498
{{- end }}
EOF


# 1Password
{{- if .is_deliveroo }}
op account add --email jp@deliveroo.co.uk --address deliveroo.1password.com --shorthand deliveroo
eval $(op signin --account deliveroo.1password.com)
{{- end }}
{{- if .is_personal }}
op account add --email jphastings@gmail.com --address my.1password.com --shorthand my
eval $(op signin --account my.1password.com)
{{- end }}
{{- end }}
