#!/bin/bash

if [ ! -f ~/.ssh/id_ed25519 ]; then
	# No passphrase used for now, as hard drives are encrypted
	# TODO: Use 1password as source for passphrase
	ssh-keygen -q -t ed25519 -C {{ .email }} -f ~/.ssh/id_ed25519 -N ""
fi
