export GITHUB_ORG_TOKEN={{- template "1p.tmpl" dict "account" "deliveroo" "id" "quxdhhtwcmpl4qebg5idyfgeee" "field" "credential" }}
export GITHUB_API_TOKEN={{- template "1p.tmpl" dict "account" "my" "id" "twxx7kygm5aydkp7lzn3f47bpy" "field" "eqpl7zrlwvgkdae6kquscgcxsa" }}
export HOMEBREW_GITHUB_API_TOKEN=$GITHUB_API_TOKEN
